<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <h1>User Graphs</h1>
            
        </div>

		<div class="row">
			<h3>Chart 1</h3>
			<div class="col-md-1 col-md-offset-3">
				<div google-chart chart="chart" style="padding: 0; width: 300px"></div>
			</div>
		</div>


		<div class="row">
			<h3>Chart 2</h3>
			<div class="col-md-6 col-md-offset-3">
				<div google-chart chart="chart2" style="padding: 0; width: 400px"></div>
			</div>

		</div>


		<div class="row">
			<h3>Chart 3 and 4</h3>
			<div class="col-md-1 col-md-offset-1">
				<div google-chart chart="chart3" style="padding: 0; width: 400px"></div>
			</div>

			<div class="col-md-6 col-md-offset-4">
				<div google-chart chart="chart4" style="padding: 0; width: 400px"></div>
			</div>

		</div>

		<div class="row">
			<h3>Chart 5</h3>
			<div class="col-md-6 col-md-offset-3">
				<div google-chart chart="chart5" style="padding: 0; width: 450px"></div>
			</div>

		</div>

		<div class="row">
			<h3>Chart 6</h3>
			<div class="col-md-6 col-md-offset-3">
				<div google-chart chart="chart6" style="padding: 0; width: 450px"></div>
			</div>


		</div>


		<div class="col-md-4 col-md-offset-9">
        	<button type="button" ng-click="back()" class="pull-right btn btn-default">
        		Go back
        	</button>
        </div>
        
    </div>
</div>
