<div class="row">
    <div class="col-md-20 col-md-offset-2">
        <div class="row">
            <h1>User Graphs</h1>
            
        </div>
        
        <div class="row">
        	<h2>Choose API:</h2>
        	
        	<div ng-repeat="a in apis">
        		{{a}}: <input type="checkbox" ng-model="name" ng-change="addChart(a)">
        	</div>
        	
        </div>
        
        <hr/>
        
        <div class="row">
		
			<div class="col-md-30 col-md-offset-0">
		
				
				<h3>Api Charts</h3>
				
				
				<div class="col-md-4 col-md-offset-0" ng-repeat="chart in charts">
					<div ng-show="chart" google-chart chart="chart" style="padding: 0; width: 300px"></div>
					
					<div class="alert alert-danger"  ng-show="chart.msg">
						{{chart.msg}}
					</div>
					
					<br/>
					<br/>
					
				</div>
			
			</div>
		</div>
		
		<hr/>

<!-- 
		<div class="row">
		
			<div class="col-md-30 col-md-offset-0">
		
				
				<h3>Pie Chart: Api Geocoding</h3>
				
				
				<div class="col-md-4 col-md-offset-0" >
					<div  ng-show="chart" google-chart chart="chart" style="padding: 0; width: 300px"></div>
					<div class="row">
						<div class="alert alert-danger"  ng-show="msg1">
							{{msg1}}
						</div>
					</div>
				</div>
				
				
				<div class="col-md-4 col-md-offset-1"  >
					<div ng-show="chart2" google-chart chart="chart2" style="padding: 0; width: 300px"></div>
					<div class="row">
						<div class="alert alert-danger"  ng-show="msg2">
							{{msg2}}
						</div>
					</div>
				</div>
				
				
				<div class="col-md-4 col-md-offset-0" >
					<div ng-show="chart4" google-chart chart="chart4" style="padding: 0; width: 300px"></div>
					<div class="row">
						<div class="alert alert-danger"  ng-show="msg4">
							{{msg4}}
						</div>
					</div>
				</div>
			
			</div>
		</div>
 
		<hr/>-->

		<div class="row">
			<h3>Table chart: Access to apis and their resources</h3>
			<div class="col-md-6 col-md-offset-3" ng-show="chart5">
				<div google-chart chart="chart5" style="padding: 0; width: 450px"></div>
			</div>
			<div class="alert alert-danger"  ng-show="msg5">
				{{msg5}}
			</div>
		</div>

		<hr/>
		
		<div class="row">
			<h3>Table Chart: Exceptions </h3>
			<div class="col-md-6 col-md-offset-3"  ng-show="chart7">
				<div google-chart chart="chart7" style="padding: 0; width: 450px"></div>
			</div>
			<div class="alert alert-danger"  ng-show="msg7">
				{{msg7}}
			</div>

		</div>


		<div class="col-md-9 col-md-offset-2">
        	<button type="button" ng-click="back()" class="pull-right btn btn-default">
        		Go back
        	</button>
        </div>
        
    </div>
</div>
