<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <h1></h1>
            
            <div class="col-md-1 col-md-offset-1">
            	<div google-chart chart="chart" style="padding:0;width:300px"></div>
            </div>
            
            <div class="col-md-6 col-md-offset-3">	 
        		<div google-chart chart="chart2" style="padding:0;width:400px"></div>
        	</div>
        	
        </div>
        
        <div class="row">
            <div class="panel panel-default panel-service">
                <div class="panel-body">
                	
                    You can take advantage of the Google Analytics service to generate detailed statistics 
                    about traffic to your developer portal. 
                    To activate the service, you need to enable Google Analytics and then add the 
                    Google Analytics Tracking ID to the portal's system configuration.
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-md-offset-9">
        	<a href="dashboard/enable" class="btn btn-info btn-block">Enable Google Analytics</a>
        </div>
        
    </div>
</div>
