<div ng-repeat="app in api.app">
	
	<h4><b>{{app.name}}</b></h4>
    <button type="button" class="pull-right btn btn-default btn-sm" ng-click="deleteApp(app.id)">
    	<i class="fa fa-trash-o"></i>
    </button>
    <a href="edit/{{api.id}}/app/{{app.id}}" class="pull-right btn btn-default btn-sm orgbtn">
    	<i class="fa fa-edit"></i>
    </a>

	<br/>
	<div class="table-responsive">
		<table class="table table-striped table-condensed table-bordered">
			<tbody>
				<tr>
					<td>Key</td>
					<td>{{app.key}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-2 col-md-offset-10">
		<a href="create/app/{{api.id}}" class="btn btn-info btn-block">Add</a>
	</div>
</div>