<div class="row animated fadeIn">
    <div ng-hide="!errorMsg || msg" class="alert alert-danger">{{errorMsg}}</div>
    <div ng-hide="!msg || errorMsg" class="alert alert-success">{{msg}}</div>
    <div class="col-md-6 col-md-offset-3">
        <h2>{{title}} Status</h2>
        <form name="main" novalidate role="form" ng-submit="submit()">
            <div class="form-group" show-validation>
                <label for="statusname">Name</label>
                <input ng-disabled="title==='Edit'" type="text" class="form-control" id="statusname" 
                placeholder="Name" ng-model="status.name" required />
            </div>
            <div class="form-group" show-validation>
                <label for="statusquota">Quota</label>
                <input type="text" class="form-control" id="statusquota" 
						placeholder="Integer value ex. 12"
							ng-model="status.quota" integer required/>
            </div>
			
            <button type="submit" ng-disabled="main.$invalid" class="btn btn-info">Save</button>
            
            <button type="button" ng-hide="title==='New'" class="btn btn-danger"
            	ng-confirm-click="remove()"
    			ng-confirm-message="Are you sure that you want to delete this status?"
    			ng-confirm-condition="true">Delete</button>
            
            <button type="button"  ng-hide="title==='Edit'" ng-click="back()" 
            	class="pull-right btn btn-default">Go back</button>
            
            <button type="button" ng-show="title==='Edit'" ng-click="goBack()" 
            	class="pull-right btn btn-default">Go back</button>
        </form>
    </div>
</div>