<div ng-repeat="api in list">
	
	<h4><b>{{api.apiId}}</b></h4>

    <button type="button" class="pull-right btn btn-default btn-sm" 
    	ng-confirm-click="deleteApi(api.apiId)"
    	ng-confirm-message="Are you sure that you want to delete this policy?"
    	ng-confirm-condition="true">
        <i class="fa fa-trash-o"></i>
    </button>

	<br/>
	<div class="table-responsive">
		<table class="table table-striped table-condensed table-bordered">
			<tbody>
				<tr>
					<td>Name</td>
					<td>{{api.apiName}}</td>
				</tr>
				<tr>
					<td>Status</td>
					<td>{{api.apiStatus}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>