<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <h1>App</h1>
        </div>
        <div class="row">
            <div class="panel panel-default panel-service">
                <div class="panel-body">
					<ul class="list-unstyled">
						<li><b>Name:</b> <span>{{app.name}}</span></li>
						<li><b>Key:</b> <span>{{app.key}}</span></li>
                    </ul>
                    
                     <tabset ng-show="app.apis">
                    	<tab heading="Api">
                    		<div ng-include="'partials/app/_api.html'"></div>
                    	</tab>
                    </tabset>
                    
                </div>
            </div>
        </div>
        
        <a href="edit/app/{{app.id}}">
    		<button class="btn btn-default">Edit</button>
    	</a>
        
        <button class="btn btn-danger" ng-confirm-click="remove()"
        	ng-confirm-message="Are you sure that you want to delete this app?"
    		ng-confirm-condition="true">
    			Delete
    	</button>
    	
    	<button type="button" ng-click="back()" class="pull-right btn btn-default">Go back</button>
        
        
    </div>
</div>


