<div class="row animated fadeIn">
    <div ng-hide="!errorMsg || msg" class="alert alert-danger">{{errorMsg}}</div>
    <div ng-hide="!msg || errorMsg" class="alert alert-success">{{msg}}</div>
    <div class="col-md-6 col-md-offset-3">
        <h2>{{title}} Policy</h2>
        <form name="main" novalidate role="form" ng-submit="submit()">
            <div class="form-group" show-validation>
                <label for="policyname">Name</label>
                <input ng-disabled="policy.id != null" type="text" class="form-control" id="policyname" 
                placeholder="Name" ng-model="policy.name" required />
            </div>
            <div class="form-group">
                <label for="policynotes">Notes</label>
                <textarea  id="policyNotes" class="form-control" ng-model="policy.notes" />
            </div>
			<div class="form-group" show-validation>
				<label for="policytype">Type</label> 
				<select ng-disabled="policy.id != null" id="policytype" class="form-control" ng-model="policy.type" required>
					<option>Spike Arrest</option>
					<option>Quota</option>
				</select>
			</div>
			
			<!-- Spike Arrest data -->
			<div ng-show="policy.type === 'Spike Arrest'">
				<div class="form-group">
					<label for="sarate">Rate</label> 
					<input type="text" class="form-control" 
						placeholder="<Integer value>pm or <Integer value>ps ex 22ps or 22pm" 
						id="sarate" 
						ng-model="policy.rate" >
				</div>

			</div>

			<!-- Quota data -->
			<div ng-show="policy.type === 'Quota'">
				<div class="form-group" >
					<label for="qinterval">Interval</label> 
					<input type="text" class="form-control" id="qinterval" 
						placeholder="Integer value ex. 12"
							ng-model="policy.interval" integer >
					</div>
					<div class="form-group" >
						<label for="qtimeunit">Time Unit</label> 
						<select id="resourceverb" class="form-control" ng-model="policy.timeUnit">
							<option>second</option>
							<option>minute</option>
							<option>hour</option>
							<option>day</option>
							<option>month</option>
						</select>
					</div>
					<div class="form-group">
						<label for="qallowcount">Allow Count</label> 
						<input type="text" class="form-control" id="qalllowcount" 
						placeholder="Integer value ex. 2000" ng-model="policy.allowCount" integer >
					</div>
			</div>
			
			<!-- Quota and spike arrest -->
			<div ng-show="policy.type === 'Spike Arrest' || policy.type === 'Quota'">
				<div class="form-group">
						<label for="policyqspid">Identifier</label> 
						<input type="text" class="form-control" id="policyqspid" 
							ng-model="policy.identifier">
				</div>
			</div>
			
            <button type="submit" ng-disabled="main.$invalid" class="btn btn-info">Save</button>
            <button type="button" ng-hide="title==='New'" class="btn btn-danger"
            	ng-confirm-click="remove()"
    			ng-confirm-message="Are you sure that you want to delete this policy?"
    			ng-confirm-condition="true">Delete</button>
            <button type="button" ng-hide="title==='Edit'" ng-click="back()" 
            	class="pull-right btn btn-default">Go back</button>
            <button type="button" ng-show="title==='Edit'" ng-click="goBack()" 
            	class="pull-right btn btn-default">Go back</button>
        </form>
    </div>
</div>